include AUTHORS.rst
include CONTRIBUTING.rst
include NEWS.rst
include LICENSE
include README.rst

include tests/data/example_acqnowledge.acq

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py *.jpg *.png *.gif
