name: Style

on: pull_request

jobs:
  build:
    name: Style
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
            
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    #- name: Install dependencies
    #  run: |
    #    python -m pip install --upgrade pip
    #    python -m pip install --upgrade poetry
    #    poetry install
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools pip wheel twine
        python -m pip install tox-gh-actions
        tox
          
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
        
    - name: Build package and test with twine
      run: |
        python setup.py sdist bdist_wheel
        python -m twine check dist/*